body {
    background-color: skyblue;
}

h1 {
   color: darkgreen;
   text-align: center;
   font-size: 30px;
   font-weight: lighter;
}

table, th, td {
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    padding: 10px;
}

th {
    color: purple;
}

th.first{
    color: maroon;
}

th.second{
    text-align: center;
}

table {
    width: 100%;
    height: 100%;
}